@tailwind base;
@tailwind components;
@tailwind utilities;


html, body{
    font-family: "Poppins", serif;
    font-weight: 300;
      height: 100%;
      overflow:auto;
      background-color: #000E28;
      color: white;
  }

 

 

  .box select {
  
    border: 1px solid #f0f0f077;
    flex: 1;
    font-size: 16px;
    color: #ffffff;
    background-color: #000E28;
    background-image: none;
    cursor: pointer;
  }
  .box select:focus{
    border: 1px solid #f0f0f077;
  }

  .bgimg{
    background-image: url(../public/chatbg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  